
<div class="panel panel-default no-border no-padding">
  <div class="panel-heading grey">Administration</div>
  <div class="panel-body">
    <ul class="list-group" id="badges">
      <li class="list-group-item">
        <a href="/dashboard/employees" target="_self">Employees</a>
        <span class="badge info-badge" data-table="employees">3</span>
      </li>
      <li class="list-group-item">
        <a href="/dashboard/orders" target="_self">Current deliveries</a>
        <span class="badge info-badge" data-table="orders">5</span>
      </li>
      <li class="list-group-item">
        <a href="/dashboard/menu" target="_self">Menu items</a>
        <span class="badge info-badge" data-table="menu">5</span>
      </li>
      <li class="list-group-item">
        <a href="/dashboard/ingredients">Ingredients</a>
        <span class="badge info-badge" data-table="ingredients">5</span>
      </li>
    </ul>
  </div>
</div>