atestat/public/bootstrap/ * linguist-vendored=false
atestat/public/font-awesome/ * linguist-vendored=false
atestat/public/jquery/ * linguist-vendored=false
atestat/public/bootstrap/css/ * linguist-vendored=false
atestat/public/font-awesome/css/ * linguist-vendored=false
atestat/public/bootstrap/ * linguist-vendored=false
